@import "bootstrap/bootstrap";
@import "//fonts.googleapis.com/css?family=Roboto:400,300";

@btn-font-weight: 300;
@font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;

body, label, .checkbox label {
    font-weight: 300;
}
@import "fontawesome/font-awesome";

body { padding-top: 70px; }

.lck-navbar{
	min-height: 70px;
	line-height:40px;
}
.navbar-default{
	border: 0;
	background: #134a6a;
}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand{
	color: #dde7f7;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-brand:hover{
	color: #fff;
}

.lck_jumbotron, .lck_jumbotron .jumbotron{
	color:#dde7f7;
	background: #134a6a;
}
.btn-lck-blue, .btn-lck-blue:hover{
	font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
	font-weight: normal;
    line-height: normal;
    margin: 0 0 1.25rem;
    padding: 1rem 2rem 1.0625rem 2rem;
    color:#fff;
    border-color: #1298c5;

} 
.btn-lck-blue{
	background-color: #22b8eb;    
	transition: background-color 300ms ease-out;
}
.btn-lck-blue:hover{
	background-color: #1298c5;
}
